:root {
  /* color */
  --colorBorder: #e6e6e6;
  --colorWhite: #fff;
  --colorBlack: #333;
  --colorGray: #666;
  --colorDarkBlack: #000;
  --colorRed: #bf1e2e;
  --colorBlue: #4876ef;
  --colorLogo: #007BC7;
  --colorHover: #f8faff;
  --colorStar: rgb(253, 131, 9);

  --colorBackgroundGray: #717171;
  --colorBackgroundBeige: #f5f5f5;

  /* font weight */

}